.notes {
    @apply flex flex-col;
    width: 100vw;
    height: 100vh;

    .notes-body {
        @apply flex-1 overflow-x-hidden overflow-y-auto;

        .notes-content {
            @apply flex flex-wrap p-6;
            gap: 16px;
        }
    }
}