
.user-auth {  
    @apply flex;

    width: 100vw;
    height: 100vh;

    .image {
        background: url("../../images/login_img.jpg");
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    .form-container {
        @apply flex justify-center items-center;

        width: 50%;
        height: 100%;

        .form {
            @apply flex flex-col;
            width: 400px;

            input {
                @apply border rounded-sm p-3 bg-gray-100;
                border-color: #eeeeee;
                margin-bottom: 20px;
                
                &::placeholder {
                    color: #d6d6d6;
                }
            }
            
            button {
                @apply p-3 text-white rounded-sm;
                background-color: #665ae2;
                width: 180px;
            }

            .links{
                @apply mb-6;

                label {
                    @apply pb-1 text-lg;
                    color: #665ae2;
                    border-bottom: 1px solid #eeeeee;

                    &:last-child{
                        @apply pl-8;
                    }

                    &.selected {
                        border-bottom: 3px solid #665ae2;
                    }
                }
            }
        }
    }   
}